body {
  background: #263238;
}

.center{
  display: flex;
  text-align: center;
  justify-content: center;
}

.card {
  color: black;
}

.white{
  color: white;
}

.res{
  height: 100vh;
  padding: 2rem;
}