<template>
  <div class="field has-text-centered res">
    <div class="card is-fluided">
      <div class="card-content">
        <h3 class="label is-size-3">{{ getNoteDetail.title }}</h3>
        <h6 class="card-subtitle">{{ getNoteDetail.date }}</h6>
        <p class="card-text">{{ getNoteDetail.text }}</p>
        <br>
        <div class="field is-grouped is-grouped-centered">
          <button class="button is-link is-rounded" @click="goBack()">Go Back</button>
          <button class="button is-info is-rounded" @click="showUpdate()">Update</button>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div id="update" style="display: none">
      <div class="container is-fluided">
        <div class="field">
          <div class="field">
            <label class="label white">Note Title</label>
            <input class="input" type="text" placeholder="Insert Your Title Here" v-model="newNote.title">
          </div>
          <div class="field">
            <label class="label white">Note Text</label>
            <textarea class="textarea" placeholder="Insert Your Text Here" v-model="newNote.text"></textarea>
          </div>
        </div>
        <button class="button is-info is-rounded" @click="handleUpdateNote()">Update</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';

export default {
  data () {
    const id = this.$router.history.current.params.id
    return {
      newNote: {
        title: '',
        text: '',
        date: new Date(Date.now()).toLocaleString()
      },
      getNoteDetail: this.$store.getters.filterNoteById(id)[0]
    }
  },
   watch: {
    $route(to, from) {
      const noteId = to.params.id
      this.getNoteDetail = this.$store.getters.filterNoteById(noteId)[0]
    }
  },
  methods: {
    goBack(){
      this.$router.go(-1)
    },
    showUpdate(){
      let x = document.getElementById("update")
      if (x.style.display === "none"){
        x.style.display = "block"
      } else {
        x.style.display = "none"
      }
    },
    handleUpdateNote(index){
      const id = this.$router.history.current.params.id
      this.$store.dispatch('updateNote', {
        index: id,
        newData: this.newNote
      })
    }
  },
}
</script>