<template>
  <div class="container is-fluided res">
    <div class="field">
      <div class="field">
        <div class="field">
          <label class="label center white">Note Title</label>
          <input class="input" placeholder="Insert Your Title Here" type="text" v-model="note.title">
        </div>
        <div class="field">
          <label class="label center white" >Note Text</label>
          <textarea class="textarea" placeholder="Insert Your Text Here" v-model="note.text"></textarea>
        </div>
      </div>
      <div class="field is-grouped is-grouped-centered">
        <button class="button is-rounded is-link is-hovered" @click="handleAddNote()">Submit</button>
      </div>
    </div>
      <br>
      <br>
    <div class="note">
      <div
        class="note" 
        v-for="(note, index) in notes"
        :key='index'
        >
        <div class="card">
          <div class="card-content">
            <label class="label has-text-centered">{{note.title}}</label>
            <div class="field is-grouped is-grouped-centered">
              <button class="button is-info is-rounded" @click="goToNoteDetail(index)">Details</button>
              <button class="button is-danger is-rounded" @click="handleDeleteNote(index)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import { mapState } from 'vuex'

export default {
  name: 'input.vue',
  data: () => {
    return {
      note: {
        title: '',
        text: '',
        date: new Date(Date.now()).toLocaleString(),
      }
    }
  },
  methods: {
    handleAddNote () {
      this.$store.dispatch('addNote', { title: this.note.title, text: this.note.text, date: this.note.date })
    },
    handleDeleteNote (index) {
      this.$store.dispatch('deleteNote', index)
    },
    goToNoteDetail (id) {
      this.$router.push({ path: `/detail/${id}` })
    },
  },
  computed: {
    ...mapState({
      notes: state => state.notes
    })
  }
}
</script>