<template>
  <div id="app">
    <h2 class="title is-2 has-text-centered white">Onboarding</h2>
    <router-view></router-view>
  </div> 
</template>

<script>
import inputForm from './component/Input'

export default {
  components: {inputForm},
}
</script>